
.leftHeader
  .leftHeader__name FUKO
  %ul.leftHeader__icon
    %li.leftHeader__icon__groupsNew
      =link_to do
        %i.fas.fa-edit
    %li.leftHeader__icon__edit
      =link_to do
        %i.fas.fa-cog

.sidebar
  %ul.sidebar__ul
    %li.sidebar__li
      .sidebar__li__groupName
        aaaaaaaa
      .sidebar__li__latestMessage
        %p まだメッセージはありません。

    %li.sidebar__li
      .sidebar__li__groupName
        Sampleグループ
      .sidebar__li__latestMessage
        %p まだメッセージはありません。
