
.rightHeader
  .rightHeader__block
    .rightHeader__block__groupName Sampleグループ
    .rightHeader__block__member Member : FUKO
  .rightHeader__button
    %button{type: "submit"} Edit

.mainMessages
  = render "mainMessages"

.footer
  .footer__form
    %form
      %input{type: "text", placeholder: "type a message"}

  .footer__icon
    %label.upload-label{for: "upload-icon"}
      %i.fa.fa-picture-o
        %input{type: "file", id: "upload-icon", style: "display:none;"}

  .footer__button
    %button{type: "submit"} Send

