html, body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.rightContents {
  float: left;
  height: 100vh;
  width: calc(100vw - 300px);
}

  .rightHeader {
    height: 96px;
    padding: 0 40px;
    border-bottom: solid thin #eee;

      &__block {
        float: left;

          &__groupName {
            color: #333;
            font-size: 20px;
            padding-top: 35px;
          }

          &__member {
            float: left;
            color: #999;
            font-size: 12px;
            padding-top: 12px;
          }

          ul{
            float: left;
            font-size: 12px;
            margin-top: 14px;
            display: inline-block;
            padding-right: 5px;
            color: #999;
          }
      }

      &__button a {
        float: right;
        color: #38AEF0;
        border: solid thin;
        padding: 0 20px;
        margin: 28px 0 0;
        height:40px;
        line-height: 40px;
        font-size: 16px;
        cursor: pointer;
      }
  }

  .mainMessages {
    height: calc(100vh - 96px - 130px);
    position: relative;
    overflow: scroll;
    padding: 0 40px 40px;

      & .message {
        padding: 40px 0 0;

          & .upper-message {
            &__user-name {
              color: #434A54;
              font-size: 16px;
              font-weight: bold;
              float: left;
            }

            &__date {
              color: #999;
              font-size: 12px;
              padding: 0 0 0 10px;
              float: left;
            }
          }

          & .lower-message {
            clear: both;
              &__content {
                padding-top: 10px;
                color: #434A54;
                font-size: 14px;
              }
          }
      }
  }

  .footer {
    padding: 20px 50px;

      &__form {
        position: relative;

          & .form__message {
            height: 50px;
            width: calc(100vw - 300px - 180px);
            background-color: #FFF;
            color: #434A54;
            text-indent: 10pt;
            border: none;
          }

          &__mask {
              position: absolute;
              right: 90px;
              top: 15px;

                label {
                  cursor: pointer;
                }
          }

          & .form__submit {
            color: #FFF;
            background-color: #38AEF0;
            height: 50px;
            padding: 0 20px;
            position: absolute;
            margin: 0 15px;
            border: none;
            cursor: pointer;
          }
      }
  }
