html body {
  height: 100%;
}

.topBar {
  background-color: #38AEF0;
}

.leftHeader {
  background-color: #253141;
}

.rightHeader {
  background-color: #FFFFFF;
}

.sidebar {
  background-color: #2f3e51;
}

.mainMessages {
  background-color: #eee;
}

.footer {
  background-color: #AAAAAA;
}

