html body {
  height: 100%;
}

.notification {
  background-color: #38AEF0;
}

.header {
  background-color: #253141;
}

.groups {
  background-color: #2f3e51;
}

.rightHeader {
  background-color: #FFFFFF;
}

.mainMessages {
  background-color: #eee;
}

.footer {
  background-color: #AAAAAA;
}
